*{margin: 0; padding: 0;}

#wrapper{
    width: 840px;
    height: 1000px;
    margin : 20px auto;
    padding: 2px;
}
.jam_head{
    margin-top: -63px;
    text-align: center;
}
.jam{
    height: 300px !important;
    background-color: #f37676 !important;
}
.submit{
    margin-left: 353px;
}
#triangle {
    /*border-bottom: 202px solid #ff00ea;
    border-left: 0px solid transparent;
    border-right: 235px solid transparent;*/
    width: 0;
    margin-top: 33px;
    display: block;
    margin-left: 300px;
}
img{
    height: 220px;
    width: 300px;
}
.jumbotron{
    margin-bottom: -2rem !important;
}
#valo{
    display: block;
    margin-left: 224px;
}
.off{
    display: none !important;
}
.on{
    display: block !important;
}
#result{
    background-color: #dac4c4;
    height: auto;
    padding: 10px;
    width: 420px;
    margin-left: 229px;
    margin-top: 63px;
    display: none;
}
.res_head{
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    font-family: fantasy;
}
#res{
    text-align: center;
}
#error{
    height: auto;
    width: auto;
    margin-top: 65px;
    background-color: antiquewhite;
    margin-left: 223px;
    text-align: center;
    float: left;
    display: none;
    font-style: italic;
    font-size: 30px;
    color: orangered;
    padding: 0px 21px 15px 12px;
}
