*{margin: 0; padding: 0;}

#wrapper{
    width: 840px;
    height: 1000px;
    margin : 20px auto;
    padding: 2px;
}
.jam_head{
    margin-top: -63px;
    text-align: center;
}
.jam{
    height: 300px !important;
    background-color: #f37676 !important;
}
.submit{
    margin-left: 353px;
}